
<div class="infomation">
    <img src="@ViewBag.Avatar" class="avatar"  onerror="this.onerror=null;this.src='/Images/no_avatar.jpg';" alt="" />
    <div class="text-infomation">
        <p class="name-infomation text-16-600">@ViewBag.Displayname</p>
        <p class="rank-infomation text-12-400">@ViewBag.Position</p>
    </div>
</div>

<style>
    .avatar {
        vertical-align: middle;
        width: 50px !important;
        height: 50px !important;
        border-radius: 20% !important;
    }
</style>

@*<div class="infomation">
        <img src="@ViewBag.Avatar" />
        <div class="infomation">
            <div class="text-infomation">
                <p class="name-infomation text-16-600"> @ViewBag.Displayname</p>
                <p class="rank-infomation text-12-400">Phó Phòng Quản lý vật tư</p>
            </div>
        </div>
    </div>*@


@*<div class="dropdown">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown">
            @ViewBag.Displayname
            <img src="@ViewBag.Avatar" style="max-height:26px;" alt="">
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="/admin/account/userprofile">@Resources.Common.Userprofile</a>
            </li>
            <li>
                <a href="/admin/account/logout">Sign out</a>
            </li>
        </ul>
    </div>*@
